/* MESSAGE SITE EN DEVELOPPEMENT */

.development-notice{
    display:grid;

    grid-template-columns:120px 1fr auto;

    align-items:center;

    gap:30px;

    margin-bottom:30px;

    padding:25px 30px;

    border:1px solid var(--black);

    background:#ded8cb;

    position:relative;
}


.notice-number{
    font-family:"DM Mono",monospace;

    font-size:9px;

    letter-spacing:1px;
}


.notice-content strong{
    display:block;

    margin-bottom:8px;

    font-family:"DM Mono",monospace;

    font-size:11px;

    color:var(--pink);
}


.notice-content p{
    max-width:700px;

    font-size:13px;

    line-height:1.5;
}


.notice-content b{
    font-weight:600;
}


.notice-status{
    padding:8px 10px;

    background:var(--black);

    color:white;

    font-family:"DM Mono",monospace;

    font-size:8px;

    white-space:nowrap;
}


/* MOBILE */

@media(max-width:800px){

    .development-notice{
        display:block;

        padding:22px;

        margin-bottom:20px;
    }


    .notice-content{
        margin-top:20px;
    }


    .notice-content strong{
        font-size:10px;
    }


    .notice-content p{
        font-size:12px;
    }


    .notice-status{
        display:inline-block;

        margin-top:20px;
    }

}
